
body {
	padding-top: 80px;
	overflow-y:scroll;
	font-size:17px
}

.gh-profile-card{
	width: 100%;
}

.members_current{
	width: 100%;
}

.jumbotron{text-align:justify;
	padding-top:1em;
	padding-bottom:1em;
	margin:auto;
	font-size:110%}

.jumbotron2{text-align:justify;
	padding-top:1em;
	background-color: #ffcc3371;
	padding-bottom:1em;
	margin:auto;
	font-size:110%}

#logo{
	width:200px;
	height:60px;
	margin:0px 0 2px 0}
	
.navbar-custom {
	background-color: #900021;
	color: #FFCC33;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFCC33;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #FFCC33;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #eeb305;
}

.members_wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: space-evenly;
	gap: 10px;
  }

.member_figure {
	margin: 0;
	min-width: 200px;
	max-width: 200px;
  }
  
.member_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 120px;
	height: 120px;
	border-radius: 80%;
}

.member_image_caption {
text-align: center;
font-size: 100%;
line-height: 150%;
padding: 4px;
}

.img-with-text {
    text-align: justify;
    width: 80px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}



/* Main Level */
ul{
    padding: 5px;
    list-style-type: square;
	margin: 1.2px 0;
	margin-top: 0px;
	margin-left: 12px;
}
/* Second Level */
ul ul{
    list-style-type: circle;
	margin: 0px 0;
	margin-left:10px;
}
/* Third Level */
ul ul ul{
  list-style-type: disc;
  margin-left:10px;
}



.alignleft {
	float: left;
}
.alignright {
	float: right;
}



div.authors a:link,
div.authors a:visited{color:#777777}
div.authors{font-size:100%;color:#777777}
span.author{white-space:nowrap}
div.publication{padding-top:0px;padding-bottom:20px}
div.publication div.img{padding-right:0px;padding-top:5px}
div.publication div.text{text-align:left;vertical-align:top;}
span.venue,span.highlight,div.publication span.tag{padding-right:0px;font-size:100%}


ul#datalist_alumni li:nth-child(n+30) {
    display:none;
}

span#extension {
    cursor: pointer;
    color: gray;
	font-size: 60%;
	font-weight: 400;
}

span#publication {
    cursor: pointer;
    color: gray;
	font-size: 60%;
	font-weight: 400;
}



a.name {
	font-size: 18px;
	font-weight: 500;
}


div.bottombar{
	font-size:10px
}


footer {
    margin-top: 20px;
    margin-bottom: 20px;
}



/* 전체 줄(컨테이너) */
.divider {
	display: inline;          /* 텍스트를 수평으로 배치 */
	align-items: center;    /* 수직 가운데 정렬 */
	gap: 1.1rem;            /* 텍스트들 사이 기본 간격 */
	font-size:17px
 }
  
  /* 각 텍스트 요소 */
  .divider span {
	position: relative;     /* ::after 를 span 기준으로 배치하기 위해 */
	padding-left:0; 
	padding-right:18px; 
  }
  
  /* 마지막 요소를 제외한 나머지 뒤에 선 추가 */
  .divider span:not(:last-child)::after {
	content: '';
	display: inline-block;
	width: 2.5rem;            /* 선 길이 (원하는 길이로 조절) */
	height: 0.1px;            /* 선 두께 */
	background-color: #c0c0c0;  /* 회색 (#ccc 나 #c0c0c0 정도) */
	margin-left: 0.8rem;    /* 텍스트와 선 사이 간격 */

	vertical-align: middle; /* 글자 높이에 맞춰 정렬 */
	
	/* 귀여운 ‘네모 단자’를 넣고 싶다면 아래 두 줄 활성화 */
	border-radius: 3px;      /* 네모 모서리 살짝 둥글게      */
	box-shadow: 0 0 0 2px #c0c0c0; /* 굵은 네모 느낌 만들기
  }

